/* General Styles */

body {
  background-image: url(../img/doge.jpg);
  font-family: sans-serif;
}

/* Header Styles */


.header {
  height: 250px;
  background-color: #f4b942;
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 60px;
  color: #555;
}

li {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
  float: left;

}

#logo {
  float: left;
  height: 250px;
}

/* Adoption Profile Styles */

.profile {
  float:left;
  width: 40%;
  height: 400px;
  background-color: #ccc;
  margin: 10px;
  padding: 10px;
  color: #555;
}

.profile img {
  float: right;
  height: 150px;
  width: 150px;
  background-color: #fff;
}

.profile h3 {
  font-size: 40px;
  margin-top: 0;
  color: #111;
}

.profile h4 {
  color: #444;
}
